h1 {
    background-color: blue;
    color: white;
}

form {
    height: 200px;
    width: 50%;
    border-radius: 20px;
    border-color: green;
    

}

label {
    color: red;
    font-weight: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

